.header {
    font-family: monospace;
    background: papayawhip;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 8px;
  }

  .logo {
    font-size: 38px;
    font-weight:bolder;
    color: tomato;
    background: white;
    padding: 4px 32px;
    font-family:'Courier New', Courier, monospace;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0px;
    padding: 0px; 
  }

  a {
    font-size: 20px;
    background: white;
    padding: 8px ;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

  }